.form-array-child {
    display: flex;
}
.sales-array-div{
    display: flex;
}
.form-arrays-div {
    display: flex;
    align-items: center;
}

.productImgSpan{
    display: flex;
    padding: 1rem;
}