.HeaderDrawer {
    display: inline-block;    
    direction: rtl;
}
.childrenDiv650acfabc4c0c3b0a4da8ad3{
    display: none;
}
.MuiListItem-root>*{
    width: 100%;
}
.MuiListItemText-root{
    text-align: right;
}
