.HeaderDrawer {
    display: inline-block;    
    direction: rtl;
}
.loggedinChildrenDiv{
    display: none;

}
.childrenDiv{
    display: none;
}
.MuiListItem-root>*{
    width: 100%;
}
.MuiListItemText-root{
    text-align: right;
}
