.Policy {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
	direction: rtl;
    font-size: large;
    word-spacing: 2px;

}
.Policy p{
    text-decoration: underline;
    font-weight: bold;
}
.Policy a{
    margin: 0 2px 0 2px;
    color: rgb(69, 69, 167);
}
