.ProductCard {
    margin: 2rem;
    padding: 1rem;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: larger;
    transition: all 300ms;
}
.ProductCard:hover{
    box-shadow: rgba(0, 0, 0, 0.300) 0px 15px 25px, rgba(0, 0, 0, 0.300) 0px 5px 10px;
}
.ProductCard .product-img{
    max-width: 60%;
    border-radius: 3px; 
}
.ProductCard .product-div-button{
    transition: all 500ms;
    margin: 1rem;
    
}
.ProductCard .product-desc{
    margin-top: 2rem;
    direction: rtl;
}

