.ProductCard {
    padding: 1rem;
    margin: 1rem;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    align-items: center;
    font-size: larger;
    transition: all 300ms;
}
.ProductCard:hover{
    box-shadow: rgba(0, 0, 0, 0.300) 0px 15px 25px, rgba(0, 0, 0, 0.300) 0px 5px 10px;
}
.ProductCard .lazyimgDiv{
    min-height: 12rem;
}
.ProductCard .product-div-button{
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100%;
    transition: all 500ms;
    margin: 1rem;    
}
.ProductCard .product-desc{
    margin-top: 2rem;
    direction: rtl;
}

